
@keyframes blinking {
  0%{
    background-color: #ff3d50;
    border: 3px solid #6565f2;
  }
  50%{
    background-color: #55d66b;
    border: 3px solid #126620;
  }
  100%{
    background-color: #222291;
    border: 3px solid #871924;
  }
}

@keyframes attention {
  0%{
    border: 3px solid Red;
  }
  50%{
    border: 3px solid Lightgrey;
  }
  100%{
    border: 3px solid Red;
  }
}


body {
  font: 14px monospace;
  margin: 20px;
  background-color: black;
  color: white;
}

ol, ul {
  padding-left: 30px;
}

a {
  color: White;
}

.board-row {
  /* Handle large boards. */
  width: max-content;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #999;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1.8em;
  height: 1.8em;
  width: 1.8em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square.winner {
  animation: blinking 1.2s infinite;
}
.square.highlight {
  animation: attention 1s infinite;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.background {
  background: center / 100% 100% no-repeat url('./images/wopr_super.jpg');
  width: 100%;
  min-height: 80vh;
  padding: 1em;
  margin: auto;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65em;
  max-width: 90%;
  margin: auto;
}

.game-board {
  min-width: 14em;
  min-height: 14em;
  margin-top: 1.2em;
  margin-left: 1.4em;
  /* Handle large boards. */
  overflow: scroll;
}

.controls {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1024px) {
  .controls {
    flex-direction: row;
  }
}

.game-info {
  margin-left: 20px;
  margin-top: 1.4em;
}

.game-info .status {
  width: 16em;
  padding: 0.4em;
  background: rgba(0, 0, 0, 0.6);
  border: 5px solid black;
}

.game-info .winner {
  font-weight: bolder;
  animation: blinking 1s infinite;
}

.game-info button {
  font-family: monospace;
  border: none;
  opacity: 0.8;
}

.game-info .reverse-history {
  font-size: 1.4em;
  width:1.6em;
  height:1.6em;
  padding: 0;
  margin-left: 1.7em;
  background-color: white;
  opacity: 0.85;
}

.game-info .history {
  margin-top: 0.3em;
}

.game-info .history li {
  border: 3px solid transparent;
}
.game-info .history button {
  border: 3px solid black;
}
.game-info .history .current,
.game-info .history .current button {
  font-weight: 900;
}
.game-info .history .current button {
  border: 3px solid white;
  opacity: 1;
}
.game-info .history .highlight {
  animation: attention 1s infinite;
}

.options {
  margin-left: 1.4em;
  margin-top: 1.4em;
}
.options figcaption {
  padding: 0.4em;
  margin-bottom: 0.2em;
  background: rgba(0, 0, 0, 0.6);
}

.difficulty {
  margin-top: 0.6em;
  padding: 0.4em;
  background: rgba(0, 0, 0, 0.6);
}
.difficulty select {
  width: 11em;
}

.source-link {
  margin-top: 2em;
  padding: 0.4em;
  background: rgba(0, 0, 0, 0.6);
}
