
@keyframes blinking {
  0%{
    background-color: #ff3d50;
    border: 5px solid #6565f2;
  }
  50%{
    background-color: #55d66b;
    border: 5px solid #126620;
  }
  100%{
    background-color: #222291;
    border: 5px solid #871924;
  }
}

body {
  font: 14px monospace;
  margin: 20px;
  background-color: black;
  color: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #999;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.background {
  background: center / 100% 100% no-repeat url('./images/wopr_super.jpg');
  width: 100%;
  min-height: 80vh;
  padding: 1em;
  margin: auto;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60em;
  max-width: 90%;
  margin: auto;
}

.game-board {
  margin-top: 1.2em;
  margin-left: 2em;
}

.game-info {
  margin-left: 20px;
  margin-top: 1em;
}

.game-info .music {
  margin-left: 1em;
}

.music figcaption {
  padding: 0.4em;
  margin-bottom: 0.2em;
  background: rgba(0, 0, 0, 0.6);
}
.music figcaption a {
  color: white;
}

.game-info .status {
  max-width: 16em;
  padding: 0.1em;
  margin-left: 1em;
  background: rgba(0, 0, 0, 0.6);
  border: 5px solid black;
}
.game-info .winner {
  font-weight: bolder;
  animation: blinking 1s infinite;
}

.game-info button {
  font-family: monospace;
  opacity: 0.8;
}

.game-info .highlight,
.game-info .highlight button {
  font-weight: bolder;
}
